@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
    font-family: 'IBM Plex Sans', sans-serif;
}

@layer utilities {
    .animate-spin-slow {
        animation: spin 2s linear infinite;
    }
}

.gradient-text {
    /* background-image: linear-gradient(to right, rgba(229, 25, 25, 1), rgba(238, 209, 17, 1), rgba(85, 228, 45, 1), rgba(34, 201, 220, 1), rgba(233, 24, 163, 1)); */
    background: #98cace;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

._sidebar-items-border {
    border: 1px solid #333333;
}

.loose-dotted-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='34' ry='34' stroke='%23454545' stroke-width='4' stroke-dasharray='2%2c 12' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 34px;


}

.custom-list {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1.2em;
    margin-left: 5px;
}

.custom-list li {
    margin-left: 0;
    line-height: 1.5;
}

._bg-vector {
    background: url('/assets/auth-vector.svg') no-repeat center center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}